@keyframes itemApp {
    0% {
        transform: translateY(20px);
         opacity: 0;
    }
    100% {
        transform:translateY(0px);
        opacity: 1;
    }
  }

  @keyframes jump {
    0% {
     transform: translateY(0);
   }
   25% {
     transform: translateY(1em);
   }
   75% {
     transform: translateY(-1em);
   }
   100% {
     transform: translateY(0);
   }
  }
  
  @keyframes loader {
   100% {
     opacity: 0;
     visibility: hidden;
   }
  }