.footer{background-color:#353535 ;
    margin: 0;
    padding: 37px;
h2{color:#ffffff;
    font-family: 'Shrikhand', serif;
font-size: 25px;
margin-bottom: 21px;
}
ul{
color: #ffffff;
.footer__list{
margin-bottom: 20px;
font-size: 20px; 
list-style: none;}
.footer__link{
    i{margin-right: 19px;}
}}}