@import url("https://fonts.googleapis.com/css2?family=Roboto+Condensed:wght@300;400;500&family=Roboto:wght@300;400;500&family=Shrikhand&display=swap");
.header {
  font-family: "Shrikhand", serif;
  height: 8%;
  box-shadow: 0px 3px 3px 1px rgb(197, 194, 194);
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 3% 0 0.9% 0;
}
.header .fa-arrow-left {
  position: relative;
  right: 42vw;
  bottom: 4vh;
  font-size: 29px;
}

.footer {
  background-color: #353535;
  margin: 0;
  padding: 37px;
}
.footer h2 {
  color: #ffffff;
  font-family: "Shrikhand", serif;
  font-size: 25px;
  margin-bottom: 21px;
}
.footer ul {
  color: #ffffff;
}
.footer ul .footer__list {
  margin-bottom: 20px;
  font-size: 20px;
  list-style: none;
}
.footer ul .footer__link i {
  margin-right: 19px;
}

.localisation {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 2%;
  color: rgb(59, 58, 58);
  background-color: rgba(231, 229, 229, 0.9764705882);
  padding: 3%;
}
.localisation h2 {
  font-weight: 500;
  font-size: 2.3vw;
}
.localisation i {
  font-size: 2vw;
}

.explorer {
  text-align: center;
  background-color: rgb(247, 247, 247);
  font-size: 4.3vw;
  font-weight: normal;
  padding: 8% 0 12% 0;
}
.explorer h2 {
  margin-bottom: 3%;
}
.explorer p {
  margin-bottom: 7%;
}

.fonctionnement {
  padding: 3.2%;
}
.fonctionnement h2 {
  margin: 9% 0 6% 0;
  font-size: 25px;
}
.fonctionnement ol {
  counter-reset: steps;
  display: flex;
  flex-direction: column;
  padding: 0;
}
.fonctionnement li {
  margin-bottom: 5.6%;
  padding: 36px 0;
  list-style: none;
  background-color: rgb(247, 247, 247);
  box-shadow: 0 8px 8px 0 #d9d9d9;
  width: 100%;
  height: 8.3vw;
  border-radius: 1.6vw;
  font-weight: 500;
  display: flex;
  align-items: center;
  justify-content: flex-start;
}
.fonctionnement li::before {
  content: counter(steps);
  counter-increment: steps;
  color: rgb(247, 247, 247);
  background-color: #9356DC;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 2%;
  height: 2%;
  border-radius: 50%;
  position: relative;
  right: 1.5%;
  padding: 2.4%;
}
.fonctionnement li p {
  font-size: 4.6vw;
  font-weight: 500;
}
.fonctionnement li i {
  font-size: 3.6vw;
  padding: 0 7.6% 0 1.6%;
  color: grey;
}
.fonctionnement li i:hover {
  color: #9356DC;
}

.restaurant {
  margin-top: 56px;
  margin-bottom: 0;
  padding: 0 3.2% 12% 3.2%;
  background-color: rgb(247, 247, 247);
  display: flex;
  flex-direction: column;
}
.restaurant .restau-title {
  margin-top: 66px;
  font-size: 30px;
  font-weight: bold;
}
.restaurant .card {
  margin-top: 34px;
  margin-bottom: 5vh;
  display: flex;
  flex-direction: column;
  border-radius: 5.6vw;
  background-color: #FFFFFF;
  overflow: hidden;
  position: relative;
}
.restaurant .card .new {
  position: absolute;
  top: 4vh;
  right: 4vw;
  background-color: #99e2d1;
  color: #408767;
  padding: 9px 11px 9px 11px;
  border-radius: 5px;
  text-align: center;
  font-weight: 500;
  width: 22%;
  font-size: 23px;
}
.restaurant .card .fa-heart {
  position: absolute;
  left: 80vw;
  bottom: 5vh;
  font-size: 43px;
  line-height: 1;
  cursor: pointer;
}
.restaurant .card .heart-icon-container {
  display: inline-block;
}
.restaurant .card .heart-icon-container .heart-icon-hover {
  display: none;
  color: transparent;
  background-clip: text;
  -webkit-background-clip: text;
  transition: all 200ms;
}
.restaurant .card .heart-icon-container .heart-icon:hover + .heart-icon-hover {
  display: inline-block;
  background-image: linear-gradient(to bottom, #FF79DA, #9356DC);
  transform: scale(1.2);
}
.restaurant .card .card-text {
  font-size: 20px;
  padding: 26px 26px 26px 26px;
}
.restaurant .card .card-text h3 {
  margin-bottom: 9px;
}

.card-img {
  height: 305px;
  width: 100%;
  object-fit: cover;
}

@media (min-width: 768px) {
  body, .localisation, .explorer, .fonctionnement, .restaurant, .header, .footer {
    width: 100%;
    max-width: initial;
  }
}
*, ::before, ::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  margin: 0;
  width: 100%;
  max-width: 767.98px;
  font-family: "Roboto", sans-serif;
}

main {
  margin: 0;
}

a {
  text-decoration: none;
  color: inherit;
}

img {
  object-fit: cover;
}

.btn {
  background: linear-gradient(to bottom, #FF79DA, #9356DC);
  padding: 4%;
  font-size: 3.6vw;
  border-radius: 53px;
  border: none;
  color: #FFFFFF;
  box-shadow: 4px 4px 10px rgba(0, 0, 0, 0.25);
  transition: transform 200ms;
  cursor: pointer;
}
.btn:hover {
  transform: scale(1.01);
  opacity: 0.9;
}

.loader {
  width: 100%;
  height: 100%;
  background-color: white;
  top: 0;
  left: 0;
  position: fixed;
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 1;
  animation: loader 0.3s ease 2s forwards;
}
.loader div {
  width: 30px;
  height: 30px;
  border-radius: 50px;
  margin: 0em 0.5em 0em 0.5em;
}
.loader .circle1 {
  background-color: #9356DC;
  animation: jump 1s ease;
}
.loader .circle2 {
  background-color: #FF79DA;
  animation: jump 1s ease 0.25s;
}
.loader .circle3 {
  background-color: #99E2D0;
  animation: jump 1s ease 0.5s;
}

@keyframes jump {
  0% {
    transform: translateY(0);
  }
  25% {
    transform: translateY(1em);
  }
  75% {
    transform: translateY(-1em);
  }
  100% {
    transform: translateY(0);
  }
}
@keyframes loader {
  100% {
    opacity: 0;
    visibility: hidden;
  }
}
.page-img {
  max-width: 100%;
  height: 20%;
}

.cards_containr {
  background-color: rgb(247, 247, 247);
  border-radius: 94px 94px 0 0;
  position: relative;
  top: -10vh;
  padding: 9% 5% 9% 5%;
  margin-bottom: 0;
}
.cards_containr .page-title {
  font-family: "Shrikhand", serif;
  font-size: 51px;
  font-weight: normal;
}
.cards_containr .choice-title {
  font-size: 28px;
  font-weight: normal;
  position: relative;
  display: inline-block;
  margin-bottom: 25px;
  margin-top: 46px;
}
.cards_containr .choice-title::before {
  content: "";
  position: absolute;
  bottom: -8px;
  left: 0;
  width: 62%;
  height: 5px;
  background-color: #99E2D0;
}
.cards_containr .card-menu {
  background-color: #FFFFFF;
  border-radius: 20px;
  margin-bottom: 4%;
  box-shadow: 0 8px 8px 0 #d9d9d9;
  padding: 3%;
  position: relative;
}
.cards_containr .card-menu:hover .icon-box {
  width: 20%;
  opacity: 1;
}
.cards_containr .card-menu:hover .icon-box .fa-circle-check {
  transform: rotate(360deg);
  opacity: 1;
}
.cards_containr .card-menu:hover .price {
  transform: translateX(-17vw);
}
.cards_containr .card-menu h4 {
  font-size: 33px;
  font-weight: 400;
  margin-bottom: 10px;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}
.cards_containr .card-menu P {
  font-size: 27px;
  font-weight: 200;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}
.cards_containr .card-menu .price {
  font-size: 16px;
  font-weight: bold;
  position: absolute;
  left: 35px;
  bottom: 13px;
  margin-left: 2%;
  transition: transform 0.5s ease;
}
.cards_containr .card-menu .icon-box {
  width: 0;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #99E2D0;
  border-radius: 0 20px 20px 0;
  position: absolute;
  right: 0px;
  top: 0px;
  transition: width 0.5s ease, opacity 0.5s ease;
  opacity: 0;
  color: white;
}
.cards_containr .card-menu .icon-box .fa-circle-check {
  font-size: 35px;
  opacity: 0;
  transition: opacity 0.5s ease, transform 0.5s ease;
}
.cards_containr .order-btn {
  display: block;
  margin: 91px auto;
  padding: 5% 13% 5% 13%;
}

/*# sourceMappingURL=style.css.map */
