@charset "UTF-8";
@import url("https://fonts.googleapis.com/css2?family=Roboto+Condensed:wght@300;400;500&family=Roboto:wght@300;400;500&family=Shrikhand&display=swap");
.header {
  padding: 1rem;
  box-shadow: 0px 2px 4px 0px rgba(0, 0, 0, 0.15);
  position: relative;
}
.header_logo {
  text-align: center;
  font-family: "Shrikhand", sans-serif;
  font-size: 30px;
  font-weight: 400;
  margin: auto;
}

.header-formenupages {
  position: relative;
}
.header_previous {
  position: absolute;
  left: 2rem;
  height: 2rem;
  width: 2rem;
  top: 60%;
  transform: translateY(-50%);
  font-size: 1.2rem;
  color: black;
}

.footer {
  background-color: #353535;
  margin: 0;
  padding: 37px;
}
.footer h2 {
  color: #ffffff;
  font-family: "Shrikhand", serif;
  font-size: 25px;
  margin-bottom: 21px;
}
.footer ul {
  color: #ffffff;
}
.footer ul .footer__list {
  margin-bottom: 20px;
  font-size: 20px;
  list-style: none;
}
.footer ul .footer__link i {
  margin-right: 19px;
}

.localisation {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 2%;
  color: rgb(59, 58, 58);
  background-color: rgba(231, 229, 229, 0.9764705882);
  padding: 3%;
}
.localisation h2 {
  font-weight: 500;
  font-size: 2.3vw;
}
.localisation i {
  font-size: 2vw;
}

.explorer {
  text-align: center;
  background-color: rgb(247, 247, 247);
  font-size: 4.3vw;
  font-weight: normal;
  padding: 8% 0 12% 0;
}
.explorer h2 {
  margin-bottom: 3%;
}
.explorer p {
  margin-bottom: 7%;
}

.fonctionnement {
  padding: 3.2%;
}
.fonctionnement h2 {
  margin: 9% 0 6% 0;
  font-size: 25px;
}
.fonctionnement ol {
  counter-reset: steps;
  display: flex;
  flex-direction: column;
  padding: 0;
}
.fonctionnement li {
  margin-bottom: 5.6%;
  padding: 36px 0;
  list-style: none;
  background-color: rgb(247, 247, 247);
  box-shadow: 0 8px 8px 0 #d9d9d9;
  width: 100%;
  height: 8.3vw;
  border-radius: 1.6vw;
  display: flex;
  align-items: center;
  justify-content: flex-start;
}
.fonctionnement li::before {
  content: counter(steps);
  counter-increment: steps;
  color: rgb(247, 247, 247);
  background-color: #9356DC;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 2%;
  height: 2%;
  border-radius: 50%;
  position: relative;
  right: 1.5%;
  padding: 2.4%;
}
.fonctionnement li i {
  font-size: 3.6vw;
  padding: 0 7.6% 0 1.6%;
  color: grey;
}
.fonctionnement li i:hover {
  color: #9356DC;
}

.Restaurants {
  background-color: #f6f6f6;
  padding: 2rem 1rem;
}
@media (min-width: 64rem) {
  .Restaurants {
    padding: 2rem 10rem;
  }
}
.Restaurants_title {
  margin-top: 0;
}

.cards {
  display: grid;
  grid-template-columns: repeat(1, 1fr);
  column-gap: 2rem;
  row-gap: 2rem;
}
@media (min-width: 64rem) {
  .cards {
    grid-template-columns: repeat(2, 1fr);
    column-gap: 5rem;
    row-gap: 3rem;
  }
}

.card {
  background-color: white;
  border-radius: 1rem;
  position: relative;
  display: block;
  box-shadow: 0px 4px 15px 0px rgba(0, 0, 0, 0.1);
  transition: 0.2s;
}
.card_link {
  text-decoration: none;
  color: inherit;
}
.card_img {
  height: 12rem;
  width: 100%;
  border: transparent solid 0px;
  border-radius: 1rem 1rem 0 0;
  box-shadow: none;
  object-fit: cover;
}
.card_badge {
  background-color: #99E2D0;
  color: #1b6150;
  padding: 0.5rem;
  border-radius: 0.125rem;
  position: absolute;
  top: 1rem;
  right: 0.75rem;
}
.card_footer {
  padding: 1rem;
  position: relative;
  display: flex;
  align-items: center;
}
.card_content {
  flex: 1;
}
.card_name {
  margin: 0;
  margin-bottom: 0.25rem;
}
.card_city {
  margin: 0;
}
.card_btn {
  height: 2rem;
  width: 2rem;
  border: transparent 0px solid;
  padding: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  bottom: 1.9rem;
  right: 2.3rem;
}
.card_btn--Liked {
  position: relative;
  background: linear-gradient(0deg, #9356DC 0%, #FF79DA 100%);
  background-clip: text;
  -webkit-background-clip: text;
  color: transparent;
  transition: opacity 500ms ease-in-out;
  opacity: 0;
}
.card_btn--Unliked {
  position: absolute;
}
.card_btn input[type=checkbox] {
  display: none;
}
.card_btn:hover .card_btn--Liked {
  opacity: 1;
}
.card_btn input[type=checkbox]:checked ~ .card_btn--Liked {
  display: inline-block;
  opacity: 1;
}
.card_btn input[type=checkbox]:checked ~ .card_btn--Unliked {
  display: none;
}
.card_heart {
  font-size: 1.5rem;
}

*, ::before, ::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  margin: 0;
  width: 100%;
  max-width: 767.98px;
  font-family: "Roboto", sans-serif;
}

main {
  margin: 0;
}

a {
  text-decoration: none;
  color: inherit;
}

img {
  object-fit: cover;
}

.btn {
  display: flex;
  justify-content: center;
  align-items: center;
  background: linear-gradient(to bottom, #FF79DA, #9356DC);
  color: white;
  box-shadow: 0px 4px 10px 0px rgba(0, 0, 0, 0.25);
  margin: auto;
  height: 50px;
  width: 200px;
  border-radius: 40px;
  text-decoration: none;
  border: none;
  cursor: pointer;
  /* Par rapport à l'animation du bouton violet*/
  transition-property: transform;
  transition-duration: 300ms;
  transition-timing-function: ease-in-out;
}
.btn:hover {
  box-shadow: 0px 4px 15px 0px rgba(0, 0, 0, 0.35);
  transform: scale(1.05);
  opacity: 0.85;
}

.btn-home {
  font-size: 14px;
}

.loader {
  width: 100%;
  height: 100%;
  background-color: white;
  top: 0;
  left: 0;
  position: fixed;
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 1;
  animation: loader 0.3s ease 2s forwards;
}
.loader div {
  width: 30px;
  height: 30px;
  border-radius: 50px;
  margin: 0em 0.5em 0em 0.5em;
}
.loader .circle1 {
  background-color: #9356DC;
  animation: jump 1s ease;
}
.loader .circle2 {
  background-color: #FF79DA;
  animation: jump 1s ease 0.25s;
}
.loader .circle3 {
  background-color: #99E2D0;
  animation: jump 1s ease 0.5s;
}

.RestaurantImg {
  max-width: 100%;
  max-height: 18.5rem;
  width: 100%;
  object-fit: cover;
}

.menu {
  margin-top: -4rem;
  border-radius: 2rem 2rem 0 0;
  background-color: #f6f6f6;
  z-index: 1;
  position: relative;
}
@media (min-width: 64rem) {
  .menu {
    margin-top: -2rem;
    margin-left: 11rem;
    margin-right: 11rem;
    padding: 0 9rem;
  }
}
.menu_header {
  padding: 1rem 2rem 0 1rem;
  display: flex;
  align-items: center;
  justify-content: center;
}
.menu_title {
  font-family: "Shrikhand", serif;
}
.menu_btn {
  position: static;
  margin: 16px;
}

.RestoMenus {
  display: grid;
}

.RestoMenu {
  max-width: 100%;
  overflow: hidden;
  padding: 0 1rem;
}
.RestoMenu_title {
  text-transform: uppercase;
  position: relative;
  padding-bottom: 0.5rem;
  font-weight: normal;
}
.RestoMenu_title::after {
  content: "";
  width: 3rem;
  height: 0.25rem;
  background-color: #99E2D0;
  position: absolute;
  left: 0;
  bottom: 0;
}

.menuItem {
  background-color: white;
  padding: 1rem;
  display: flex;
  border-radius: 0.75rem;
  margin: 1rem 0;
  box-shadow: 0px 4px 15px 0px rgba(0, 0, 0, 0.1);
  overflow: hidden;
  cursor: pointer;
  max-width: 100%;
  /*animation des cartes */
  animation: itemApp 700ms;
  animation-timing-function: ease-in-out;
  animation-fill-mode: both;
  transform: scale(0);
}
.menuItem_header {
  /* pour l'effet pointillé qu'on réduit la page*/
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
  flex: 1;
}
.menuItem_title {
  margin: 0;
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
  font-size: 18px;
}
.menuItem_description {
  margin: 0;
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
  font-size: 15px;
}
.menuItem_price {
  font-weight: bold;
  display: flex;
  justify-content: flex-end;
  align-items: flex-end;
  padding-left: 0.5rem;
}
.menuItem_confirmation {
  background-color: #99E2D0;
  margin: -1rem -5rem -1rem 1rem;
  width: 4rem;
  display: flex;
  align-items: center;
  justify-content: center;
  transition-duration: 0.5s;
}
.menuItem:hover .menuItem_confirmation {
  margin-right: -1rem;
}
.menuItem:active .menuItem_confirmation {
  margin-right: -1rem;
}
.menuItem_wrapIcon {
  height: 1.6rem;
  width: 1.6rem;
  background-color: white;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 100px;
  transform: rotate(180deg);
  transition-duration: 0.5s;
}
.menuItem_icon {
  color: #99E2D0;
}
.menuItem:hover .menuItem_wrapIcon {
  transform: rotate(0);
}

.delay-0 {
  animation-delay: 0s;
}

.delay-1 {
  animation-delay: 0.1111111111s;
}

.delay-2 {
  animation-delay: 0.2222222222s;
}

.delay-3 {
  animation-delay: 0.3333333333s;
}

.delay-4 {
  animation-delay: 0.4444444444s;
}

.delay-5 {
  animation-delay: 0.5555555556s;
}

.delay-6 {
  animation-delay: 0.6666666667s;
}

.delay-7 {
  animation-delay: 0.7777777778s;
}

.delay-8 {
  animation-delay: 0.8888888889s;
}

.wrapBtn {
  display: flex;
  text-decoration: none;
  justify-content: center;
  padding: 2rem 0 2.5rem 0;
}

.commandBtn {
  font-size: 16px;
}

@keyframes itemApp {
  0% {
    transform: translateY(20px);
    opacity: 0;
  }
  100% {
    transform: translateY(0px);
    opacity: 1;
  }
}
@keyframes jump {
  0% {
    transform: translateY(0);
  }
  25% {
    transform: translateY(1em);
  }
  75% {
    transform: translateY(-1em);
  }
  100% {
    transform: translateY(0);
  }
}
@keyframes loader {
  100% {
    opacity: 0;
    visibility: hidden;
  }
}

/*# sourceMappingURL=style.css.map */
