@use '../../sass/utilités/variables';
.btn{
    background: linear-gradient(to bottom, variables.$secondary-color, variables.$primary-color);
padding: 4%;
font-size: 3.6vw;
border-radius: 53px;
border: none;
color: variables.$quaternary-color;
box-shadow: 4px 4px 10px rgba(0, 0, 0, 0.25);
transition:transform 200ms;
cursor: pointer;
&:hover{transform: scale(1.01);
opacity: 0.9;}}