//VARIABLES  COULEUR
$primary-color:#9356DC;
$secondary-color:#FF79DA;
$tertiary-color:#99E2D0;
$quaternary-color:#FFFFFF;
$background-color: rgb(247, 247, 247);


//BOX SHADOW

$base-box-shadow:0 8px 8px 0 #d9d9d9;





