@use '../../sass/utilités/variables';
.localisation{
    display: flex;
justify-content: center;
align-items: center;
gap:2%;
color:rgb(59, 58, 58);
background-color: #e7e5e5f9;
padding: 3%;
h2 {font-weight:500; 
    font-size: 2.3vw;
    }
i{font-size: 2vw;}

}
.explorer {text-align: center;
    background-color: variables.$background-color;
   
font-size: 4.3vw;
font-weight: normal;

padding:8% 0 12% 0 ;
h2{margin-bottom: 3%;}
p{margin-bottom: 7%;}}


.fonctionnement{ 
   
    padding: 3.2%;
    h2{margin:9% 0 6% 0;
    font-size: 5vw;}
    ol{ 
        
        counter-reset: steps;
   
    display: flex;
    flex-direction: column;
    
    padding: 0;}
    li{ margin-bottom: 5.6%;
  padding:36px 0;
    list-style: none;
    background-color: variables.$background-color; 
    box-shadow: variables.$base-box-shadow; 
   
    width: 100%;
    height: 8.3vw;
border-radius: 1.6vw;
font-weight: 500;

display: flex;
align-items: center;
justify-content:flex-start;


&::before{content: counter(steps); 
counter-increment: steps;
 color:variables.$background-color ;
background-color: variables.$primary-color; 
display: flex;
align-items:center;
justify-content: center;
width: 2%;
height: 2%;
border-radius: 50%;
position: relative;
right: 1.5%;
padding: 2.4%;}


p{ font-size: 4.6vw;
font-weight: 500;}
i{font-size: 3.6vw;
    padding: 0 7.6% 0 1.6%;
color: grey;
&:hover{
    color:variables.$primary-color;
}
}
}}

.restaurant {
    margin-top: 56px;
    margin-bottom: 0;
    padding: 0 3.2% 12% 3.2%;
    background-color: variables.$background-color;
    display: flex;
    flex-direction: column;

    .restau-title {
        margin-top: 66px;
        font-size: 5vw;
    }

    .card {
        margin-top: 34px;
        margin-bottom: 5vh;
        display: flex;
        flex-direction: column;
        border-radius: 5.6vw;
        background-color: variables.$quaternary-color;
        overflow: hidden;
        position: relative;

        .new {
            position: absolute;
            top: 5vh;
            right: 3vw;
            background-color: #99e2d1;
            color: #408767;
            padding: 9px 11px 9px 11px;
            border-radius: 5px;
            font-weight: normal;
            font-size: 3vw;
        }



        .fa-heart {
            position: absolute;
            left: 80vw;
            bottom: 5vh;
            font-size: 43px;
            line-height: 1;
            cursor: pointer; }

            .heart-icon-container {
                display: inline-block;
            }
            
            #heart-icon-hover {
                display: none;
                color: transparent;
                background-clip: text;
                -webkit-background-clip: text;
                transition: all 200ms
            }
            
            #heart-icon:hover + #heart-icon-hover {
                display: inline-block;
                background-image: linear-gradient(to bottom, variables.$secondary-color, variables.$primary-color);
                transform: scale(1.2);
            }

   

        .card-text {
            font-size: 20px;
            padding: 26px 26px 26px 26px;
            h3 {
                margin-bottom: 9px;
            }
        }

        

       
    }
}

.card-img {
    height: 305px;
    width: 100%;
    object-fit: cover;
}

@media (min-width: 768px) {
    body, .localisation, .explorer, .fonctionnement, .restaurant, .header, .footer {
      width: 100%;
      max-width: initial;
    }
  }