@use '../../sass/utilités/variables';
.localisation{
    display: flex;
justify-content: center;
align-items: center;
gap:2%;
color:rgb(59, 58, 58);
background-color: #e7e5e5f9;
padding: 3%;
h2 {font-weight:500; 
    font-size: 2.3vw;
    }
i{font-size: 2vw;}

}
.explorer {text-align: center;
    background-color: variables.$background-color;
   
font-size: 4.3vw;
font-weight: normal;

padding:8% 0 12% 0 ;
h2{margin-bottom: 3%;}
p{margin-bottom: 7%;}}


.fonctionnement{ 
   
    padding: 3.2%;
    h2{margin:9% 0 6% 0;
    font-size: 25px;}
    ol{ 
        
        counter-reset: steps;
   
    display: flex;
    flex-direction: column;
    
    padding: 0;}
    li{ margin-bottom: 5.6%;
  padding:36px 0;
    list-style: none;
    background-color: variables.$background-color; 
    box-shadow: variables.$base-box-shadow; 
   
    width: 100%;
    height: 8.3vw;
border-radius: 1.6vw;


display: flex;
align-items: center;
justify-content:flex-start;


&::before{content: counter(steps); 
counter-increment: steps;
 color:variables.$background-color ;
background-color: variables.$primary-color; 
display: flex;
align-items:center;
justify-content: center;
width: 2%;
height: 2%;
border-radius: 50%;
position: relative;
right: 1.5%;
padding: 2.4%;}



i{font-size: 3.6vw;
    padding: 0 7.6% 0 1.6%;
color: grey;
&:hover{
    color:variables.$primary-color;
}
}
}}

.Restaurants {
  background-color: #f6f6f6;
  padding: 2rem 1rem;

  @media (min-width:64rem) {
    padding: 2rem 10rem;
  }

  &_title {
    margin-top: 0;
  }
}


.cards {
  display: grid;
  grid-template-columns: repeat(1, 1fr);
  column-gap: 2rem;
  row-gap: 2rem;

  @media (min-width:64rem) {
    grid-template-columns: repeat(2, 1fr);
    column-gap: 5rem;
    row-gap: 3rem;
  }
}

.card {
  background-color: white;
  border-radius: 1rem;
  position: relative;
  display: block;
  box-shadow: 0px 4px 15px 0px rgba(0, 0, 0, 0.10);
  transition: .2s;

  &_link {
    text-decoration: none;
    color: inherit;
  }

  &_img {
    height: 12rem;
    width: 100%;
    border: transparent solid 0px;
    border-radius: 1rem 1rem 0 0;
    box-shadow: none;
    object-fit: cover;
  }

  &_badge {
    background-color: variables.$tertiary-color;
    color: darken(variables.$tertiary-color, 50%);
    padding: 0.5rem;
    border-radius: 0.125rem;
    position: absolute;
    top: 1rem;
    right: 0.75rem;
  }

  &_footer {
    padding: 1rem;
    position: relative;
    display: flex;
    align-items: center;
  }

  &_content {
    flex: 1;
  }

  &_name {
    margin: 0;
    margin-bottom: 0.25rem;
  }

  &_city {
    margin: 0;
  }

  &_btn {
    height: 2rem;
    width: 2rem;
    border: transparent 0px solid;
    padding: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    bottom: 1.9rem;
    right: 2.3rem;

    &--Liked {

      position: relative;
      background: linear-gradient(0deg, variables.$primary-color 0%, variables.$secondary-color 100%);
      background-clip: text;
      -webkit-background-clip: text;
      color: transparent;
      transition: opacity 500ms ease-in-out;
      opacity: 0;

    }

    &--Unliked {

      position: absolute;

    }

    & input[type="checkbox"] {

      display: none;

    }

    &:hover &--Liked {

      opacity: 1;

    }

    & input[type="checkbox"]:checked~&--Liked {

      display: inline-block;
      opacity: 1;
    }

    & input[type="checkbox"]:checked~&--Unliked {

      display: none;
    }
  }

  &_heart {

    font-size: 1.5rem;
  }

}
    
    



        

        

       
    


