.localisation{display: flex;
justify-content: center;
align-items: center;
gap:16px;
color:rgb(59, 58, 58);
background-color: rgb(233, 228, 228);
h2 {font-family: 'Roboto', sans-serif;font-weight:500; font-size: 23px;
    }
i{font-size: 20px;}
}