@use '../../sass/utilités/variables';

.RestaurantImg {
    max-width: 100%;
    max-height: 18.5rem;
    width: 100%;
    object-fit: cover;
  }

  .menu {
    margin-top: -4rem;
    border-radius: 2rem 2rem 0 0;
    background-color: #f6f6f6;
    z-index: 1;
    position: relative;
  
    @media (min-width:64rem) {
      margin-top: -2rem;
      margin-left: 11rem;
      margin-right: 11rem;
      padding: 0 9rem;
    }
  
    &_header {
      padding: 1rem 2rem 0 1rem;
      display: flex;
      align-items: center;
      justify-content: center;
    }
  
    &_title {
     font-family: 'Shrikhand', serif;;
    }
  
    &_btn {
      position: static;
      margin: 16px;
    }
  
  }
  .RestoMenus {
    display: grid;
  }
  
  .RestoMenu {
    max-width: 100%;
    overflow: hidden;
    padding: 0 1rem;
  
    &_title {
      text-transform: uppercase;
      position: relative;
      padding-bottom: 0.5rem;
      font-weight: normal;
  
      &::after {
        content: "";
        width: 3rem;
        height: 0.25rem;
        background-color: variables.$tertiary-color;
        position: absolute;
        left: 0;
        bottom: 0;
      }
    }
  }
  .menuItem {
    background-color: white;
    padding: 1rem;
    display: flex;
    border-radius: 0.75rem;
    margin: 1rem 0;
    box-shadow: 0px 4px 15px 0px rgba(0, 0, 0, 0.10);
    overflow: hidden;
    cursor: pointer;
    max-width: 100%;
    /*animation des cartes */
    animation: itemApp 700ms;
    animation-timing-function: ease-in-out;
    animation-fill-mode: both;
    transform: scale(0);
  
    &_header {
      /* pour l'effet pointillé qu'on réduit la page*/
      white-space: nowrap;
      text-overflow: ellipsis;
      overflow: hidden;
      flex: 1;
    }
  
    &_title {
      margin: 0;
      white-space: nowrap;
      text-overflow: ellipsis;
      overflow: hidden;
      font-size: 18px;
    }
  
    &_description {
      margin: 0;
      white-space: nowrap;
      text-overflow: ellipsis;
      overflow: hidden;
      font-size: 15px;
    }
  
    &_price {
      font-weight: bold;
      display: flex;
      justify-content: flex-end;
      align-items: flex-end;
      padding-left: 0.5rem;
    }
  
    &_confirmation {
      background-color: variables.$tertiary-color;
      margin: -1rem -5rem -1rem 1rem;
      width: 4rem;
      display: flex;
      align-items: center;
      justify-content: center;
      transition-duration: 0.5s;
    }
  
    &:hover &_confirmation {
      margin-right: -1rem;
    }
  
    &:active &_confirmation {
      margin-right: -1rem;
    }
  
    &_wrapIcon {
      height: 1.6rem;
      width: 1.6rem;
      background-color: white;
      display: flex;
      align-items: center;
      justify-content: center;
      border-radius: 100px;
      transform: rotate(180deg);
      transition-duration: 0.5s;
  
    }
  
    &_icon {
      color: variables.$tertiary-color;
    }
  
    &:hover &_wrapIcon {
      transform: rotate(0);
    }
  }
  
  
  @for $i from 0 to 9 {
    .delay-#{$i} {
      animation-delay: #{$i/9}s;
    }
  }
  
  .wrapBtn {
    display: flex;
    text-decoration: none;
    justify-content: center;
    padding: 2rem 0 2.5rem 0;
  }
  
  .commandBtn {
    font-size: 16px;
  }